{% extends 'base.html' %} {% block title %}Bookings{% endblock %} {% block
content %}
<div class="container">
  <h1>All Bookings</h1>
  <table class="table bg-dark text-white">
    <thead>
      <tr>
        <th>Ticket ID</th>
        <th>Movie</th>
        <th>Venue Name</th>
        <th>Location</th>
        <th>Show Date</th>
        <th>Show Time</th>
      </tr>
    </thead>
    <tbody>
      {% for ticket in tickets %}
      <tr>
        <td>{{ ticket.id }}</td>
        <td>{{ ticket.show.movie.name }}</td>
        {% set ven_id = ticket.venue_id | int - 1 %}
        <td>{{ venues[ven_id].name }}</td>
        <td>{{ venues[ven_id].address }}, {{ venues[ven_id].city }}</td>
        <td>{{ ticket.show.time.strftime('%d-%m-%Y') }}</td>
        <td>{{ ticket.show.time.strftime('%H:%M') }}</td>
      </tr>
      <div>{{ show }}</div>
      {%endfor%}
    </tbody>
  </table>
</div>
{% endblock %}
