{% extends "base.html" %} {% block title %}Movies{% endblock %} {% block content
%}
<script>
  function doSearch(value) {
    n = document.getElementsByClassName("card-title");
    for (let i = 0; i < n.length; i++) {
        searchString = (n[i].innerHTML + n[i].getAttribute("data-movie-rating")).toLowerCase();
        if (searchString.search(value.toLowerCase()) != -1) {
          //console.log(`a-${n[i].getAttribute("name")}`);
          document.getElementsByName(`a-${n[i].getAttribute("name")}`).forEach((element) => {
            element.hidden = false;
          });
        } else {
          //document.getElementById(`a-${element.id}`).hidden = true;
          document.getElementsByName(`a-${n[i].getAttribute("name")}`).forEach((element) => {
            element.hidden = true;
          });
        }
    }
  }
</script>
<h1 class="ps-2 pb-2">Movies 🍿</h1>
<h4 class="ps-3">Search</h4>
<input type="text" oninput="doSearch(this.value)" placeholder="Search Movie/Rating">
<div class="container">
  <div class="row">
    {%for movie in movies%} {% include 'cards.html' %} {% endfor %}
  </div>
</div>
{% endblock %}
