{% extends "base.html" %} {% block title %}Venues{% endblock %} {% block content
    %}
<script>
       function doSearch(value) {
    n = document.getElementsByClassName("card-title");
    for (let i = 0; i < n.length; i++) {
      searchString = (n[i].innerHTML + n[i].getAttribute("data-movie-rating") + n[i].getAttribute("data-movie-tags")).toLowerCase();
      if (searchString.search(value.toLowerCase()) != -1) {
        //console.log(`a-${n[i].getAttribute("name")}`);
        document.getElementsByName(`a-${n[i].getAttribute("name")}`).forEach((element) => {
          element.hidden = false;
        });
      } else {
        //document.getElementById(`a-${element.id}`).hidden = true;
        document.getElementsByName(`a-${n[i].getAttribute("name")}`).forEach((element) => {
          element.hidden = true;
        });
      }
    }
  }
</script>
<div style="display: flex;">
<div style="display: block; width: 100%;">
<h1 class="ps-2 pb-2">Movies at {{venue.name}} </h1>
<h5 class="ps-2 pb-2">{{venue.address}}, {{venue.city}}</h5>
</div>
<div class="container" style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-end; align-items: center;">
  <h4 class="ps-3 ms-md-3">Search</h4>
  <input class="form-control ms-md-3" style="width: auto;" type="text" oninput="doSearch(this.value)" placeholder="Search Movie">
</div></div>
<div class="container">
    <section style="padding-right: 50px;padding-left: 50px;padding-top: 50px;padding-bottom: 50px;">
    {%for show in movie %} 
    {% set mov = show.movie_id%} 
        <div class="card" name="a-{{show.movie.id}}">
            <div class="card-body">
                <h4 class="card-title text-dark" data-movie-rating="{{show.movie.rating}}" data-movie-tags="{% for tag in show.movie.tags %}{{ tag.name }} {% endfor %}" name="{{show.movie.id}}">{{show.movie.name}}</h4>
                <h6 class="text-muted card-subtitle mb-2">Ratings : {{show.movie.rating}}</h6>
                <br>
                {%for sho in shows %}
                {% if sho.movie_id == mov %}
                <a class="btn btn-primary ms-md-2" role="button" href="/book/{{sho.id}}" data-bs-toggle="modal" data-bs-target="#bookingModal{{ sho.id }}">{{sho.time}}</a>
                <div
                class="modal fade"
                id="bookingModal{{ sho.id }}"
                tabindex="-1"
                aria-labelledby="bookingModalLabel{{ sho.id }}"
                aria-hidden="true"
                >
                <div
                    class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-dark"
                >
                    <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <h5 class="modal-title" id="bookingModalLabel{{ sho.id }}">
                        Book Tickets for {{ sho.movie.name }}
                        </h5>
                        <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body bg-dark">
                        <form method="post">
                        <div class="mb-3">
                            <label for="ticket-count" class="form-label"
                            >Number of Tickets</label
                            >
                            <div class="input-group">
                            <input
                                type="number"
                                class="form-control"
                                id="ticket-count"
                                name="ticket-count"
                                value="1"
                            />
                            </div>
                        </div>
                        <input type="hidden" name="show-id" value="{{sho.id}}" />
                        <input type="submit" class="btn btn-primary" id="book-btn" />
                        </form>
                    </div>
                    </div>
                </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</section>
</div>

    {% endblock %}