{% extends "base.html" %} {% block title %}Venues{% endblock %} {% block content
    %}

<script>
  dropdown = document.getElementById("city-select");
  city_selected=dropdown.value
  document.getElementsByName("ven").forEach((element) => {
      if (element.getAttribute("data-city").toLowerCase().search(city_selected.toLowerCase()) != -1) {
        element.hidden = false;
      } else {
        element.hidden = true;
      }
    });
  dropdown.addEventListener('change', function() {
  city_selected=dropdown.value
  document.getElementsByName("ven").forEach((element) => {
      if (element.getAttribute("data-city").toLowerCase().search(city_selected.toLowerCase()) != -1) {
        element.hidden = false;
      } else {
        element.hidden = true;
      }
    });});

  function doSearch(value) {
    document.getElementsByName("ven").forEach((element) => {
      SearchString = (element.id + element.getAttribute("data-venue") + element.getAttribute("data-city")).toLowerCase();
      if (SearchString.search(value.toLowerCase()) != -1) {
        element.hidden = false;
      } else {
        element.hidden = true;
      }
    });
  }
</script>

<div style="display: flex;">
  <h1 class="ps-2 pb-2 title" style="width: 100%;">Venues</h1>
  <div class="container" style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-end; align-items: center;">
    <h4 class="ps-3 ms-md-3">Search</h4>
    <input class="form-control ms-md-3" style="width: auto;" type="text" oninput="doSearch(this.value)" placeholder="Search Venue">
  </div></div>

    <div class="container">
        <br>
    <div class="row">
      {% for venue in venues %}
      <div class="col-md-4 mb-4" name="ven" data-venue="{{venue.address}}" data-city="{{venue.city}}" id="{{venue.name}}">
        <div class="card bg-light">
          <div class="card-body ">
            <h5 class="card-title text-dark">{{ venue.name }}</h5>
            <p class="card-text text-muted" name="{{ venue.id }}">{{ venue.address }}, {{ venue.city }}</p>
            <a
              href="./{{venue.id}}"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#"
              >Book</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

    {% endblock %}